<div class="bg-white align-items-start py-2 mb-3 rounded-pill toolbar d-flex justify-content-between">
  <input
    class="form-control form-control-rounded search-input"
    name="quickFilterText"
    (ngModelChange)="keySearcchValue$.next(keySearcchValue)"
    [(ngModel)]="keySearcchValue"
    name="key-searcch"
    autocomplete="off"
    placeholder="搜索"
    type="text"
  />
  <button class="btn btn-primary btn-iconmind btn-rounded" (click)="newForm()"> <i class="icon-Add text-17 me-2"></i>新建表单 </button>
</div>
<div class="shadow rounded-3 full-height-container">
  <ag-grid-angular
    style="height: 100%; width: 100%"
    class="ag-theme-material"
    [rowData]="formData"
    [suppressContextMenu]="false"
    [columnDefs]="columnDefs"
    [context]="context"
    [quickFilterText]="quickFilterText"
    [frameworkComponents]="frameworkComponents"
    [loadingOverlayComponent]="loadingOverlayComponent"
    [loadingOverlayComponentParams]="loadingOverlayComponentParams"
    [noRowsOverlayComponent]="noRowsOverlayComponent"
    [noRowsOverlayComponentParams]="noRowsOverlayComponentParams"
    [groupDefaultExpanded]="groupDefaultExpanded"
    [autoGroupColumnDef]="autoGroupColumnDef"
    [getRowNodeId]="getRowNodeId"
    [components]="{ nameCellRenderer: getNameCellRenderer() }"
    [treeData]="true"
    [animateRows]="true"
    [getDataPath]="getDataPath"
    [getContextMenuItems]="getContextMenuItems"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</div>

<ng-template #createFormContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title">创建新表单</h5>
    <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('关闭')">
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="createFormGroup" class="ms-4 me-4">
      <div class="mb-2">
        <label for="name" class="form-label">名称</label>
        <input
          id="name"
          class="form-control form-control-rounded"
          [ngClass]="{ 'value-invalid': createFormNotification['name'].show }"
          formControlName="name"
          type="text"
          autocomplete="off"
        />
        <p *ngIf="createFormNotification['name'].show" class="pt-1 mb-0">
          <span class="text-danger">{{ createFormNotification['name'].message }}</span>
        </p>
      </div>
      <div class="mb-2">
        <label for="category" class="form-label">类别</label>
        <div class="d-block">
          <label class="radio radio-primary d-inline-block mb-0">
            <input type="radio" name="isLeaf" [value]="1" formControlName="isLeaf" />
            <span>模型</span>
            <span class="checkmark"></span>
          </label>
          <label class="radio radio-primary d-inline-block mb-0 ms-4">
            <input type="radio" name="isLeaf" [value]="0" formControlName="isLeaf" />
            <span>模型目录</span>
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
      <div class="mb-2">
        <label for="create-category" class="form-label">所属目录</label>
        <app-ztree-select
          id="create-category"
          class="form-control form-control-rounded"
          formControlName="category"
          [treeSetting]="treeSetting"
          [selectType]="selectType"
          [selectMultiple]="selectMultiple"
          [ngClass]="{ 'value-invalid': createFormNotification['category'].show }"
          [treeNodes]="zNodes"
        ></app-ztree-select>
        <p *ngIf="createFormNotification['category'].show" class="pt-1 mb-0">
          <span class="text-danger">{{ createFormNotification['category'].message }}</span>
        </p>
      </div>
      <div class="mb-2">
        <label for="description" class="form-label">描述</label>
        <textarea
          id="description"
          class="form-control form-control-rounded"
          [ngClass]="{ 'value-invalid': createFormNotification['description'].show }"
          formControlName="description"
          rows="3"
        ></textarea>
        <p *ngIf="createFormNotification['description'].show" class="pt-1 mb-0">
          <span class="text-danger">{{ createFormNotification['description'].message }}</span>
        </p>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('取消')">取 消</button>
    <app-btn-loading
      [btnClass]="'btn-primary btn-rounded'"
      (click)="createFormSave(modal)"
      [type]="'button'"
      [loadingText]="createFormLoadingText"
      [loading]="createFormLoading"
    >
      保 存
    </app-btn-loading>
  </div>
</ng-template>

<ng-template #editFormContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title">编辑表单信息</h5>
    <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('关闭')">
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editFormGroup" class="ms-4 me-4">
      <div class="mb-2">
        <label for="name" class="form-label">名称</label>
        <input
          id="name"
          class="form-control form-control-rounded"
          [ngClass]="{ 'value-invalid': editFormNotification['name'].show }"
          formControlName="name"
          type="text"
          autocomplete="off"
        />
        <p *ngIf="editFormNotification['name'].show" class="pt-1 mb-0">
          <span class="text-danger">{{ editFormNotification['name'].message }}</span>
        </p>
      </div>
      <div class="mb-2">
        <label for="edit-category" class="form-label">所属目录</label>
        <app-ztree-select
          id="edit-category"
          class="form-control form-control-rounded"
          formControlName="category"
          [treeSetting]="treeSetting"
          [selectType]="selectType"
          [selectMultiple]="selectMultiple"
          [ngClass]="{ 'value-invalid': editFormNotification['category'].show }"
          [treeNodes]="zNodes"
        ></app-ztree-select>
        <p *ngIf="editFormNotification['category'].show" class="pt-1 mb-0">
          <span class="text-danger">{{ editFormNotification['category'].message }}</span>
        </p>
      </div>
      <div class="mb-2">
        <label for="description" class="form-label">描述</label>
        <textarea
          id="description"
          class="form-control form-control-rounded"
          [ngClass]="{ 'value-invalid': editFormNotification['description'].show }"
          formControlName="description"
          rows="3"
        ></textarea>
        <p *ngIf="editFormNotification['description'].show" class="pt-1 mb-0">
          <span class="text-danger">{{ editFormNotification['description'].message }}</span>
        </p>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('取消')">取 消</button>
    <app-btn-loading
      [btnClass]="'btn-primary btn-rounded'"
      (click)="editFormSave(modal)"
      [type]="'button'"
      [loadingText]="editFormLoadingText"
      [loading]="editFormLoading"
    >
      保 存
    </app-btn-loading>
  </div>
</ng-template>

<ng-template #deleteFormContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title">删除表单</h5>
    <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>
        <i class="icon-Danger text-danger me-1"></i>
        确认删除
        <span class="text-danger px-1">{{ deleteRowNode.data.name }}</span>
        ?
      </strong>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('取消')">取 消</button>
    <app-btn-loading
      [btnClass]="'btn-danger btn-rounded'"
      (click)="deleteFormSave(modal)"
      [type]="'button'"
      [loadingText]="deleteFormLoadingText"
      [loading]="deleteFormLoading"
    >
      确 认
    </app-btn-loading>
  </div>
</ng-template>
