<div class="bg-white align-items-start py-2 mb-3 rounded-pill toolbar d-flex justify-content-between">
  <input
    class="form-control form-control-rounded search-input"
    name="quickFilterText"
    (ngModelChange)="keySearcchValue$.next(keySearcchValue)"
    [(ngModel)]="keySearcchValue"
    name="key-searcch"
    autocomplete="off"
    placeholder="搜索"
    type="text"
  />
  <button class="btn btn-primary btn-iconmind btn-rounded" (click)="createForm()"> <i class="icon-Add text-17 me-2"></i>新建表单 </button>
</div>
<div class="shadow rounded-3 full-height-container">
  <ag-grid-angular
    style="height: 100%; width: 100%"
    class="ag-theme-material"
    [rowData]="formData"
    [suppressContextMenu]="true"
    [columnDefs]="columnDefs"
    [context]="context"
    [quickFilterText]="quickFilterText"
    [frameworkComponents]="frameworkComponents"
    [loadingOverlayComponent]="loadingOverlayComponent"
    [loadingOverlayComponentParams]="loadingOverlayComponentParams"
    [noRowsOverlayComponent]="noRowsOverlayComponent"
    [noRowsOverlayComponentParams]="noRowsOverlayComponentParams"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</div>

<ng-template #createFormContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title">创建新表单</h5>
    <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('关闭')">
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="createFormGroup" class="ms-4 me-4">
      <div class="mb-2">
        <label for="name" class="form-label">名称</label>
        <input
          id="name"
          class="form-control form-control-rounded"
          [ngClass]="{ 'value-invalid': createFormNotification.nameMessageShow }"
          formControlName="name"
          type="text"
          autocomplete="off"
        />
        <p *ngIf="createFormNotification.nameMessageShow" class="pt-1 mb-0">
          <span class="text-danger">{{ createFormNotification.nameMessage }}</span>
        </p>
      </div>
      <div class="mb-2">
        <label for="description" class="form-label">描述</label>
        <textarea
          id="description"
          class="form-control form-control-rounded"
          [ngClass]="{ 'value-invalid': createFormNotification.descriptionMessageShow }"
          formControlName="description"
          rows="3"
        ></textarea>
        <p *ngIf="createFormNotification.descriptionMessageShow" class="pt-1 mb-0">
          <span class="text-danger">{{ createFormNotification.descriptionMessage }}</span>
        </p>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('取消')">取 消</button>
    <app-btn-loading
      [btnClass]="'btn-primary btn-rounded'"
      (click)="createFormSave(modal)"
      [type]="'button'"
      [loadingText]="createFormLoadingText"
      [loading]="createFormLoading"
    >
      保 存
    </app-btn-loading>
  </div>
</ng-template>

<ng-template #editFormContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title">编辑表单信息</h5>
    <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('关闭')">
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editFormGroup" class="ms-4 me-4">
      <div class="mb-2">
        <label for="name" class="form-label">名称</label>
        <input
          id="name"
          class="form-control form-control-rounded"
          [ngClass]="{ 'value-invalid': editFormNotification.nameMessageShow }"
          formControlName="name"
          type="text"
          autocomplete="off"
        />
        <p *ngIf="editFormNotification.nameMessageShow" class="pt-1 mb-0">
          <span class="text-danger">{{ editFormNotification.nameMessage }}</span>
        </p>
      </div>
      <div class="mb-2">
        <label for="description" class="form-label">描述</label>
        <textarea
          id="description"
          class="form-control form-control-rounded"
          [ngClass]="{ 'value-invalid': editFormNotification.descriptionMessageShow }"
          formControlName="description"
          rows="3"
        ></textarea>
        <p *ngIf="editFormNotification.descriptionMessageShow" class="pt-1 mb-0">
          <span class="text-danger">{{ editFormNotification.descriptionMessage }}</span>
        </p>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('取消')">取 消</button>
    <app-btn-loading
      [btnClass]="'btn-primary btn-rounded'"
      (click)="editFormSave(modal)"
      [type]="'button'"
      [loadingText]="editFormLoadingText"
      [loading]="editFormLoading"
    >
      保 存
    </app-btn-loading>
  </div>
</ng-template>

<ng-template #deleteFormContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title">删除表单</h5>
    <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>
        <i class="icon-Danger text-danger me-1"></i>
        确认删除
        <span class="text-danger px-1">{{ deleteRowNode.data.name }}</span>
        ?
      </strong>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('取消')">取 消</button>
    <app-btn-loading
      [btnClass]="'btn-danger btn-rounded'"
      (click)="deleteFormSave(modal)"
      [type]="'button'"
      [loadingText]="deleteFormLoadingText"
      [loading]="deleteFormLoading"
    >
      确 认
    </app-btn-loading>
  </div>
</ng-template>
