// stencil面板内容居中显示，更美观
.joint-stencil > .content {
  padding-top: 20px;
  padding-left: 40px;
  background-color: rgb(255 255 255);
}

// 属性面板的属性项宽度设置为100%
.inspector-container > label {
  width: 100%;
}
