<div class="pb-2 toolbar">
  <input
    class="form-control form-control-rounded search-input"
    name="quickFilterText"
    [(ngModel)]="quickFilterText"
    placeholder="搜索"
    type="text"
  />
  <button class="btn btn-primary float-right btn-iconmind btn-rounded" (click)="createAlgorithm()">
    <i class="icon-Add text-17 mr-2"></i>新建算法
  </button>
</div>
<div class="card full-height-container">
  <ag-grid-angular
    style="height: 100%; width: 100%"
    class="ag-theme-material"
    [rowData]="algorithmData"
    [suppressContextMenu]="true"
    [columnDefs]="columnDefs"
    [context]="context"
    [quickFilterText]="quickFilterText"
    [frameworkComponents]="frameworkComponents"
    [loadingOverlayComponent]="loadingOverlayComponent"
    [loadingOverlayComponentParams]="loadingOverlayComponentParams"
    [noRowsOverlayComponent]="noRowsOverlayComponent"
    [noRowsOverlayComponentParams]="noRowsOverlayComponentParams"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</div>

<ng-template #createAlgorithmContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title">创建新算法</h5>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('关闭')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="createAlgorithmGroup" class="ml-4 mr-4">
      <div class="form-group">
        <label for="name">名称</label>
        <input
          id="name"
          class="form-control form-control-rounded"
          [ngClass]="{ 'value-invalid': createAlgorithmNotification.nameMessageShow }"
          formControlName="name"
          type="text"
          autocomplete="off"
        />
        <p *ngIf="createAlgorithmNotification.nameMessageShow" class="pt-1 mb-0">
          <span class="text-danger">{{ createAlgorithmNotification.nameMessage }}</span>
        </p>
      </div>
      <div class="form-group">
        <label for="description">描述</label>
        <textarea
          id="description"
          class="form-control form-control-rounded"
          [ngClass]="{ 'value-invalid': createAlgorithmNotification.descriptionMessageShow }"
          formControlName="description"
          rows="3"
        ></textarea>
        <p *ngIf="createAlgorithmNotification.descriptionMessageShow" class="pt-1 mb-0">
          <span class="text-danger">{{ createAlgorithmNotification.descriptionMessage }}</span>
        </p>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('取消')">取 消</button>
    <app-btn-loading
      [btnClass]="'btn-primary btn-rounded'"
      (click)="createAlgorithmSave(modal)"
      [type]="'button'"
      [loadingText]="createAlgorithmLoadingText"
      [loading]="createAlgorithmLoading"
    >
      保 存
    </app-btn-loading>
  </div>
</ng-template>

<ng-template #editAlgorithmContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title">编辑算法信息</h5>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('关闭')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editAlgorithmGroup" class="ml-4 mr-4">
      <div class="form-group">
        <label for="name">名称</label>
        <input
          id="name"
          class="form-control form-control-rounded"
          [ngClass]="{ 'value-invalid': editAlgorithmNotification.nameMessageShow }"
          formControlName="name"
          type="text"
          autocomplete="off"
        />
        <p *ngIf="editAlgorithmNotification.nameMessageShow" class="pt-1 mb-0">
          <span class="text-danger">{{ editAlgorithmNotification.nameMessage }}</span>
        </p>
      </div>
      <div class="form-group">
        <label for="description">描述</label>
        <textarea
          id="description"
          class="form-control form-control-rounded"
          [ngClass]="{ 'value-invalid': editAlgorithmNotification.descriptionMessageShow }"
          formControlName="description"
          rows="3"
        ></textarea>
        <p *ngIf="editAlgorithmNotification.descriptionMessageShow" class="pt-1 mb-0">
          <span class="text-danger">{{ editAlgorithmNotification.descriptionMessage }}</span>
        </p>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('取消')">取 消</button>
    <app-btn-loading
      [btnClass]="'btn-primary btn-rounded'"
      (click)="editAlgorithmSave(modal)"
      [type]="'button'"
      [loadingText]="editAlgorithmLoadingText"
      [loading]="editAlgorithmLoading"
    >
      保 存
    </app-btn-loading>
  </div>
</ng-template>

<ng-template #deleteAlgorithmContent let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-title">删除算法</h5>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>
        <i class="icon-Danger text-danger mr-1"></i>
        确认删除
        <span class="text-danger px-1">{{ deleteRowNode.data.name }}</span>
        ?
      </strong>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('取消')">取 消</button>
    <app-btn-loading
      [btnClass]="'btn-danger btn-rounded'"
      (click)="deleteAlgorithmSave(modal)"
      [type]="'button'"
      [loadingText]="deleteAlgorithmLoadingText"
      [loading]="deleteAlgorithmLoading"
    >
      确 认
    </app-btn-loading>
  </div>
</ng-template>
