.ag-theme-material {
    @include ag-theme-material(
      (
        material-primary-color: $primary,
        material-accent-color: $secondary,
        range-selection-border-color:transparent,
      )
    );
    .ag-root-wrapper{
      border-radius: $border-radius;
    }
  }