// BOOTSTRAP ALERT
.alert {
  background: $background;
  border-radius: 10px;
  .close:focus {
    outline: 0;
  }
}
.alert-card {
  border: 0;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 $gray-400;
  &.alert-success {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 $success;
  }
  &.alert-warning {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 $warning;
  }
  &.alert-info {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 $info;
  }
  &.alert-danger {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 $danger;
  }
  &.alert-dark {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 $gray-600;
  }
}

// NGX TOASTR
.toast-container {
  .ngx-toastr {
    color: $body-color;
  }
  .toast {
    border-radius: 10px;
    color: $foreground;
    opacity: 1 !important;
  }
  .toast-close-button {
    color: $gray-400;
    position: absolute;
    right: 8px;
    top: -1px;
  }
  .toast-progress {
    height: 2px;
    opacity: 1;
  }

  .toast-success {
    background-color: $background;
    background-image: url('/assets/images/custom-toast/checkmark.svg');
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 $success;
    .toast-progress {
      background: $success;
    }
    &:hover {
      box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 $success;
    }
  }
  .toast-warning {
    background-color: $background;
    background-image: url('/assets/images/custom-toast/danger.svg');
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 $warning;
    .toast-progress {
      background: $warning;
    }
    &:hover {
      box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 $warning;
    }
  }
  .toast-info {
    background-color: $background;
    background-image: url('/assets/images/custom-toast/info.svg');
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 $info;
    .toast-progress {
      background: $info;
    }
    &:hover {
      box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 $info;
    }
  }
  .toast-error {
    background-color: $background;
    background-image: url('/assets/images/custom-toast/close.svg');
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 $danger;
    .toast-progress {
      background: $danger;
    }
    &:hover {
      box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 2px 0 0 $danger;
    }
  }
}
.toast-top-right {
  right: 30px;
}
