<div class="">
  <div class="breadcrumb">
    <h1>Version 1</h1>
    <ul>
      <li><a href="">Dashboard</a></li>
      <li>Version 1</li>
    </ul>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <div class="row">
    <!-- ICON BG -->
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
        <div class="card-body text-center">
          <i class="icon-Add-User"></i>
          <div class="content">
            <p class="text-muted mt-2 mb-0">New Leads</p>
            <p class="text-primary text-24 line-height-1 mb-2">205</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
        <div class="card-body text-center">
          <i class="icon-Financial"></i>
          <div class="content">
            <p class="text-muted mt-2 mb-0">Sales</p>
            <p class="text-primary text-24 line-height-1 mb-2">4021</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
        <div class="card-body text-center">
          <i class="icon-Checkout-Basket"></i>
          <div class="content">
            <p class="text-muted mt-2 mb-0">Orders</p>
            <p class="text-primary text-24 line-height-1 mb-2">80</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
        <div class="card-body text-center">
          <i class="icon-Money-2"></i>
          <div class="content">
            <p class="text-muted mt-2 mb-0">Expense</p>
            <p class="text-primary text-24 line-height-1 mb-2">120</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-4">
            <div class="card-body">
              <div class="card-title m-0">Network Stats</div>
              <p class="text-small text-muted">Lorem ipsum dolor sit amet consectetur.</p>
              <div class="row">
                <div class="col-lg-6 col-md-12 mb-4">
                  <div class="p-4 rounded d-flex align-items-center bg-primary text-white">
                    <i class="icon-Data-Backup text-32 me-3"></i>
                    <div>
                      <h4 class="text-18 mb-1 text-white">Backups</h4>
                      <span>Total: 32</span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-4">
                  <div class="p-4 rounded d-flex align-items-center bg-primary text-white">
                    <i class="icon-Big-Data text-32 me-3"></i>
                    <div>
                      <h4 class="text-18 mb-1 text-white">Databases</h4>
                      <span>Total: 302</span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-4">
                  <div class="p-4 border border-light rounded d-flex align-items-center">
                    <i class="icon-Data-Cloud text-32 me-3"></i>
                    <div>
                      <h4 class="text-18 mb-1">Space used</h4>
                      <span>Total: 160GB</span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-4">
                  <div class="p-4 border border-light rounded d-flex align-items-center">
                    <i class="icon-Data-Download text-32 me-3"></i>
                    <div>
                      <h4 class="text-18 mb-1">Downloaded</h4>
                      <span>Total: 30GB</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-profile-1 mb-4">
            <div class="card-body text-center">
              <div class="avatar box-shadow-2 mb-3">
                <img src="./assets/images/faces/16.jpg" alt="" />
              </div>
              <h5 class="m-0">Jassica Hike</h5>
              <p class="mt-0 text-muted">UI/UX Designer</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae cumque.</p>
              <button class="btn btn-primary btn-rounded">Contact Jassica</button>
              <div class="card-socials-simple mt-4">
                <a href="">
                  <i class="icon-Linkedin-2"></i>
                </a>
                <a href="">
                  <i class="icon-Facebook-2"></i>
                </a>
                <a href="">
                  <i class="icon-Twitter"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-profile-1 mb-4">
            <div class="card-body text-center">
              <div class="avatar box-shadow-2 mb-3">
                <img src="./assets/images/faces/2.jpg" alt="" />
              </div>
              <h5 class="m-0">James Hike</h5>
              <p class="mt-0 text-muted">VR Developer</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae cumque.</p>
              <button class="btn btn-primary btn-rounded">Contact James</button>
              <div class="card-socials-simple mt-4">
                <a href="">
                  <i class="icon-Linkedin-2"></i>
                </a>
                <a href="">
                  <i class="icon-Facebook-2"></i>
                </a>
                <a href="">
                  <i class="icon-Twitter"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card card-ecommerce-3 o-hidden mb-4">
            <div class="d-flex">
              <div class="">
                <img class="card-img-left" src="./assets/images/photo-wide-1.jpg" alt="" />
              </div>
              <div class="flex-grow-1 p-4">
                <h5 class="m-0">Product featured</h5>
                <p class="m-0 text-small text-muted">By ABC Cafe</p>
                <p class="m-0">$40 <del>$55</del></p>
                <p class="text-muted mt-3">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt placeat esse tempore debitis.
                </p>
                <div class="actions">
                  <button class="btn btn-sm rounded-circle btn-icon btn-outline-primary">
                    <i class="icon icon-Add-Cart"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card card-ecommerce-3 o-hidden mb-4">
            <div class="d-flex">
              <div class="">
                <img class="card-img-left" src="./assets/images/photo-wide-2.jpg" alt="" />
              </div>
              <div class="flex-grow-1 p-4">
                <h5 class="m-0">Product featured</h5>
                <p class="m-0 text-small text-muted">By Apple</p>
                <p class="m-0">$40 <del>$55</del></p>
                <p class="text-muted mt-3">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt placeat esse tempore debitis.
                </p>
                <div class="actions">
                  <button class="btn btn-sm rounded-circle btn-icon btn-outline-primary">
                    <i class="icon icon-Add-Cart"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-12">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="card bg-dark text-white o-hidden mb-4">
            <img class="card-img" src="./assets/images/photo-long-1.jpg" alt="Card image" />
            <div class="card-img-overlay">
              <div class="text-center pt-4">
                <h5 class="card-title mb-2 text-white">Card title</h5>
                <div class="separator border-top mb-2"></div>
                <p class="text-small font-italic">Last updated 3 mins ago</p>
              </div>
              <div class="p-1 text-start card-footer fw-light d-flex">
                <span class="me-3 d-flex align-items-center"><i class="icon-Speach-Bubble-6 me-1"></i> 12 </span>
                <span class="d-flex align-items-center"><i class="icon-Calendar-4 me-2"></i>03.12.2018</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6">
          <div class="card bg-dark text-white o-hidden mb-4">
            <img class="card-img" src="./assets/images/photo-long-2.jpg" alt="Card image" />
            <div class="card-img-overlay">
              <div class="text-center pt-4">
                <h5 class="card-title mb-2 text-white">Card title</h5>
                <div class="separator border-top mb-2"></div>
                <p class="text-small font-italic">Last updated 3 mins ago</p>
              </div>
              <div class="p-1 text-start card-footer fw-light d-flex">
                <span class="me-3 d-flex align-items-center"><i class="icon-Speach-Bubble-6 me-1"></i> 12 </span>
                <span class="d-flex align-items-center"><i class="icon-Calendar-4 me-2"></i>03.12.2018</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-12">
      <!-- CARD ICON -->
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-icon mb-4">
            <div class="card-body text-center">
              <i class="icon-Share-on-Cloud"></i>
              <p class="text-muted mt-2 mb-2">Today's Upload</p>
              <p class="text-primary text-24 line-height-1 m-0">21</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-icon mb-4">
            <div class="card-body text-center">
              <i class="icon-Add-User"></i>
              <p class="text-muted mt-2 mb-2">New Users</p>
              <p class="text-primary text-24 line-height-1 m-0">21</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-icon mb-4">
            <div class="card-body text-center">
              <i class="icon-Money-2"></i>
              <p class="text-muted mt-2 mb-2">Total sales</p>
              <p class="text-primary text-24 line-height-1 m-0">4021</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-icon-big mb-4">
            <div class="card-body text-center">
              <i class="icon-Money-2"></i>
              <p class="line-height-1 text-title text-18 mt-2 mb-0">4021</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-icon-big mb-4">
            <div class="card-body text-center">
              <i class="icon-Gear"></i>
              <p class="line-height-1 text-title text-18 mt-2 mb-0">4021</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="card card-icon-big mb-4">
            <div class="card-body text-center">
              <i class="icon-Bell"></i>
              <p class="line-height-1 text-title text-18 mt-2 mb-0">4021</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
