/* You can add global styles to this file, and also import other style files */
.loading {
  padding-left: 36px;
}

.swal2-container > div {
  border: 1px solid rgb(0 0 0 / 20%);
  border-radius: 0.3rem;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
}

.swal2-container.countdown .swal2-actions {
  display: none;
}

.swal2-container.countdown .swal2-html-container {
  font-weight: 400;
  font-size: 13px;
}

.form-control[readonly] {
  background-color: #f8f9fa;
}

.btn-iconmind > i {
  vertical-align: bottom;
}

.ag-status-bar-custom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ag-status-bar-custom ul {
  margin-bottom: 0;
}

// 自定义所有滚动条样式
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f8f9fa;
}

::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  border-radius: 6px;
  background-color: rgb(0 0 0 / 20%);
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0 0 0 / 30%);
}
